<html>
    <head>
    <title>Book</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <div class= "container">
        <h1 class="text-center">E-LIBRARY</h1>
            <div class="row">
            <div class="col-md-3 ">
                <div class="single-blog">
                <p class="blog-meta">Have a new book</p>
                    <img src="C:\Users\Rohan raj\Desktop\Book\book2.jpg">
                    <h2><a href="/bk_info">Book entry</a></h2>
                    <p class="blog-text">Register New book</p>
                   
                </div>
                </div>
            <div class="col-md-3 "> <div class="single-blog">
                <p class="blog-meta">Issue a new book</p>
                    <img src="C:\Users\Rohan raj\Desktop\Book\book2.jpg">
                    <h2><a href="/issue">Book issue</a></h2>
                    <p class="blog-text">Issue a book</p>
                   
                </div></div>
            <div class="col-md-3 "> <div class="single-blog">
                <p class="blog-meta">Return your book</p>
                    <img src="C:\Users\Rohan raj\Desktop\Book\book2.jpg">
                    <h2><a href="/return">Book return</a></h2>
                    <p class="blog-text">Return the book</p>
                    
                </div>
                </div>
                <div class="col-md-3 "> <div class="single-blog">
                <p class="blog-meta">Enquire the book</p>
                    <img src="C:\Users\Rohan raj\Desktop\Book\book2.jpg">
                    <h2><a href="#">Book enquiry</a></h2>
                    <p class="blog-text">Enquire about the book</p>
                  
                </div>
                </div>

            </div>
        </div>
    </body>
    
</html>